html {
  font-size: 12px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: left;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

p1 {
  font-size: 10px;  
  text-align: center;  
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}