/*NAV BAR STYLES*/

.navbar-inverse {
  background: #2E2F31;
  border: 0;
}

.navbar a {
  margin-bottom: 0;
  color: white;
}

.container p {
  font-size: 16px;
}
/*JUMBOTRON STYLES*/

.jumbotron {
  background: #98C1D9;
  color: black;
  text-align: center;
  padding-top: 1;
  padding-bottom: 0;
}

.container h2 {
  font-size: 24px;
}

.container h1 {
  font-weight: bold;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E2F31;
  color: white;
  text-align: center;
}

img svg {
  display: block;
  margin: 0 auto;
}

/*GENERAL BODY FORMATTING*/

h1, p {
  padding-left: 2px
  padding-right: 2px;
}


/*DEBT CHART*/

#cboChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#cboChart .x.axis path {
  display: block;
}

#cboChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#cboChart .overlay {
  fill: none;
  pointer-events: all;
}

#cboChart .focus circle {
  fill: none;
  stroke: steelblue;
}

#cboChart svg {
  display: block;
  margin: 0 auto;
}


/*MOBILITY MAP*/

#mobility40 .states, #mobility80 .states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#mobility80 .states-choropleth, #mobility40 .states-choropleth {
  fill: #ccc;
}

#mobility40 .states-choropleth, #mobility80 .states-choropleth {
  fill: #ccc;
}

#tooltip-container40, #tooltip-container80 {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#mobility80 .tooltip_key, #mobility40 .tooltip_key {
  font-weight: bold;
}

#mobility80 .tooltip_value, #mobility40 .tooltip_value {
  margin-left: 20px;
  float: right;
}

#mobility svg {
  display: block;
  margin: 0 auto;
}

/*REVENUE CHART*/
#revenue svg, #spending svg {
font: 14px sans-serif;
shape-rendering: crispEdges;
}

#revenue .axis path,
#revenue .axis line, #spending .axis path, #spending .axis line {
fill: none;
stroke:none;
}

#revenue path.domain, #spending path.domain {
stroke: none;
}

#revenue .y .tick line, #spending .y .tick line  {
stroke: none;
}

/*slider chart styling*/

#sliderChart text {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  fill: #777;
}

#sliderChart .axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#sliderChart .axis--y line {
  display: none;
}

#sliderChart .axis--x line {
  stroke: #eee;
}

#sliderChart .axis .domain {
  fill: none;
  stroke: none;
}

#sliderChart .track,
#sliderChart .track-inset,
#sliderChart .track-overlay {
  stroke-linecap: round;
}

#sliderChart .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

#sliderChart .track-inset {
  stroke: #eee;
  stroke-width: 8px;
}

#sliderChart.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

#sliderChart .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#sliderChart rect.bar {
  fill: #210794;
  shape-rendering: crispEdges;
}

#sliderChart .year,
#sliderChart .total {
  text-anchor: end;
}

#sliderChart .title {
  font-size: 24px;
}

#sliderChart .total {
  font-size: 20px;
  fill: #210794;
}

#sliderChart .year {
  font-size: 14px;
}

/*All of the below text edits the jumbotron and nav bar with bootstrap modifications*/

.jumbotron {
  background-image: url("../images/black-and-white-business-chart-241544.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 1;
  padding-bottom: 0;
}

#caption h1, p {
  text-align: center;
}

div#layout {
  text-align: center;
}


.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: red;
}

#limit line {
  stroke-width: 3;
  stroke-dasharray: 50;
}

.grid path {
  stroke-width: 0;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

.team-member {
  margin-bottom:50px;
  text-align:center;
  img {
    width: 225px;
    height: 225px;
    border:7px solid $white;
  }
  
  h4 {
    margin-top:25px;  
    margin-bottom:0px;
    text-align:center;
    text-transform:none;
  }
  p{
    margin-top:0;
  }
.navbar-inverse {
  background: #2E2F31;
  border: 0;
}
/*QUICK FACTS STYLES - THIS SHOULD BE USED FOR ANY OTHER TABLES ALSO*/

#facts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#facts td, #facts th {
  border: 1px solid #ddd;
  padding: 4px;
}

#facts tr:nth-child(even), #facts tr:nth-child(even){background-color: #f2f2f2;}

#facts tr:hover {background-color: #ddd;}

/*WORLD MAP at Index.html*/

#worldmap body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}


#worldmap .land {
  fill: #222;
}

#worldmap .boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#worldmap-tooltip {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#worldmap-tooltip .tooltip_key {
  font-weight: bold;
}

#worldmap-tooltip .tooltip_value {
  margin-left: 20px;
  float: right;
}


/*Inequality chart
.chart-wrapper {
    max-width: 950px;
    min-width: 304px;
    margin: 0 auto;
    background-color: #FAF7F7;
}

.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}

.chart-wrapper .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}

.chart-wrapper text {
  font-family: sans-serif;
  font-size: 11px;
}

.chart-wrapper p {
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 40px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
  
.chart-wrapper .axis path {
  stroke-width: 2px;
}

.chart-wrapper .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.chart-wrapper .legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}
.chart-wrapper .legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wrapper .focus circle {
  fill: crimson;
  stroke: crimson;
  stroke-width: 2px;
  fill-opacity: 15%;
}
.chart-wrapper .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}
@media (max-width:500px){
    .chart-wrapper .line {stroke-width: 3px;}
    .chart-wrapper .legend {font-size: 14px;}
}*/
