/*NAV BAR STYLES*/

.navbar-inverse {
  background: #2E2F31;
  border: 0;
}

.navbar a {
  margin-bottom: 0;
  color: white;
}

.container p {
  font-size: 16px;
}
/*JUMBOTRON STYLES*/

.jumbotron {
  background: #98C1D9;
  color: black;
  text-align: center;
  padding-top: 1;
  padding-bottom: 0;
}

.container h2 {
  font-size: 24px;
}

.container h1 {
  font-weight: bold;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E2F31;
  color: white;
  text-align: center;
}

img svg {
  display: block;
  margin: 0 auto;
}

/*GENERAL BODY FORMATTING*/

h1, p {
  padding-left: 2px
  padding-right: 2px;
}


/*DEBT CHART*/

#cboChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#cboChart .x.axis path {
  display: block;
}

#cboChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#cboChart .overlay {
  fill: none;
  pointer-events: all;
}

#cboChart .focus circle {
  fill: none;
  stroke: steelblue;
}

#cboChart svg {
  display: block;
  margin: 0 auto;
}


/*MOBILITY MAP*/

#mobility .states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#mobility .states-choropleth {
  fill: #ccc;
}

#mobility #tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#mobility .tooltip_key {
  font-weight: bold;
}

#mobility .tooltip_value {
  margin-left: 20px;
  float: right;
}

#mobility svg {
  display: block;
  margin: 0 auto;
}

/*MOBILITY MAP

#mobility40 .states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#mobility40 .states-choropleth {
  fill: #ccc;
}

#mobility40 #tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#mobility40 .tooltip_key {
  font-weight: bold;
}

#mobility40 .tooltip_value {
  margin-left: 20px;
  float: right;
}

#mobility40 svg {
  display: block;
  margin: 0 auto;
}
*/

/*REVENUE CHART*/
#revenue svg, #spending svg {
font: 12px sans-serif;
shape-rendering: crispEdges;
}

#revenue .axis path,
#revenue .axis line, #spending .axis path, #spending .axis line {
fill: none;
stroke: #000;
}

#revenue path.domain, #spending path.domain {
stroke: none;
}

#revenue .y .tick line, #spending .y .tick line  {
stroke: #ddd;
}


/*QUICK FACTS STYLES - THIS SHOULD BE USED FOR ANY OTHER TABLES ALSO*/

#facts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#facts td, #facts th {
  border: 1px solid #ddd;
  padding: 4px;
}

#facts tr:nth-child(even), #facts tr:nth-child(even){background-color: #f2f2f2;}

#facts tr:hover {background-color: #ddd;}

