
#description{
  width:800px;
  margin:10px;
  margin-left:5px;
}

#everything{
  width:800px;
  margin:20px;
}

#sliderChart text {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  fill: #777;
}

#sliderChart .axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#sliderChart .axis--y line {
  display: none;
}

#sliderChart .axis--x line {
  stroke: #eee;
}

#sliderChart .axis .domain {
  fill: none;
  stroke: none;
}

#sliderChart .track,
#sliderChart .track-inset,
#sliderChart .track-overlay {
  stroke-linecap: round;
}

#sliderChart .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

#sliderChart .track-inset {
  stroke: #eee;
  stroke-width: 8px;
}

#sliderChart.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

#sliderChart .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#sliderChart rect.bar {
  fill: #210794;
  shape-rendering: crispEdges;
}

#sliderChart .year,
#sliderChart .total {
  text-anchor: end;
}

#sliderChart .title {
  font-size: 24px;
}

#sliderChart .total {
  font-size: 20px;
  fill: #210794;
}

#sliderChart .year {
  font-size: 14px;
}
}